name: Build Signed Ghostgram

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: '0'

      - name: Install Certificate
        run: |
          security create-keychain -p build build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p build build.keychain
          
          # 1. Попытка прямого импорта
          security import cert.p12 -k build.keychain -P 1 -A -T /usr/bin/codesign || true
          
          # 2. Лечим файл через openssl (на случай ошибок кодировки)
          openssl pkcs12 -in cert.p12 -nodes -passin pass:1 -out temp_cert.pem
          openssl pkcs12 -export -in temp_cert.pem -out cert_fixed.p12 -passout pass:1
          
          # 3. Импорт вылеченного файла
          security import cert_fixed.p12 -k build.keychain -P 1 -A -T /usr/bin/codesign

          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k build build.keychain
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp profile.mobileprovision ~/Library/MobileDevice/Provisioning\ Profiles/

      - name: Set active Xcode path
        run: |
          XCODE_VERSION=$(cat versions.json | python3 -c 'import json,sys;obj=json.load(sys.stdin);print(obj["xcode"]);')
          sudo xcode-select -s /Applications/Xcode_$XCODE_VERSION.app/Contents/Developer

      - name: Build App
        run: |
          python3 -u build-system/Make/Make.py \
            build \
            --configurationPath="build-system/appstore-configuration.json" \
            --codesigningInformationPath=build-system/fake-codesigning \
            --configuration=release_arm64

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: Signed-Ghostgram
          path: build/artifacts/Telegram.ipa
