name: Build Signed Ghostgram

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: '0'

      - name: Install Certificate
        run: |
          security create-keychain -p build build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p build build.keychain
          
          # Лечим и импортируем сертификат
          openssl pkcs12 -in cert.p12 -nodes -passin pass:1 -out temp_cert.pem
          openssl pkcs12 -export -in temp_cert.pem -out cert_fixed.p12 -passout pass:1
          security import cert_fixed.p12 -k build.keychain -P 1 -A -T /usr/bin/codesign

          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k build build.keychain
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp profile.mobileprovision ~/Library/MobileDevice/Provisioning\ Profiles/

      - name: Build App
        run: |
          # Генерируем номер билда
          BUILD_NUMBER=$(git rev-list --count HEAD)
          
          python3 -u build-system/Make/Make.py \
            build \
            --configurationPath="build-system/appstore-configuration.json" \
            --codesigningInformationPath=build-system/fake-codesigning \
            --configuration=release_arm64 \
            --buildNumber=$BUILD_NUMBER \
            --ignoreXcodeVersionMismatch

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: Signed-Ghostgram
          path: build/artifacts/Telegram.ipa
